.pagination-container{
  border-top: 1px solid #c1c7d0;
}
.data-container{
  height: calc(100% - 40px);
}
.list-result-pagination{
  height: calc(100% - 50px);
  background: #fff;
}
.data-toolbar{
  height: 40px;
}